name = "NeuralGraphPDE"
uuid = "dc0c328b-2f26-4c4e-a741-3d78bb01adf9"
authors = ["MilkshakeForReal <yicheng.wu@ucalgary.ca> and contributors"]
version = "0.1.7"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
Functors = "d9f16b24-f501-4c13-a1f2-28368ffc5196"
GraphNeuralNetworks = "cffab07f-9bc2-4db1-8861-388f63bf7694"
Lux = "b2108857-7c20-44ae-9111-449ecde12c47"
NNlib = "872c559c-99b0-510c-b3b7-b6c96a88d5cd"
NNlibCUDA = "a00861dc-f156-4864-bf3c-e6376f28a68d"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
CUDA = "3"
DifferentialEquations = "7"
GraphNeuralNetworks = "0.4"
Lux = "0.4"
NNlib = "0.8"
NNlibCUDA = "0.2"
julia = "1.7"

[extras]
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Random", "Flux", "SafeTestsets"]
