name = "NeuralGraphPDE"
uuid = "dc0c328b-2f26-4c4e-a741-3d78bb01adf9"
authors = ["MilkshakeForReal <yicheng.wu@ucalgary.ca> and contributors"]
version = "0.1.0"

[compat]
julia = "1.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
